.albums__triangle {
  width: 600px;
  height: 600px;
  background-image: url('../../../img/triangle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 25%;
}